<a href="https://colab.research.google.com/github/r-volo/r-volo.github.io/blob/main/W3_PythonDataConversionPipelines.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arrays, vectors, lists
cell navigation:
ctrl+enter - runs the cell
Alt+enter - runs and adds new one below
shift+enter - runs and steps into the nect cell

In [1]:
a = [2,3,4,'fdfd',[5,6]]

In [2]:
b={
    'alpha':1, 
   'beta':27, 
   'gamma':[0,1,2], 
   'delta':'67', 98:45
   }

In [3]:
b['alpha']

1

In [4]:
a[2]

4

In [5]:
b.values(), b.keys()

(dict_values([1, 27, [0, 1, 2], '67', 45]),
 dict_keys(['alpha', 'beta', 'gamma', 'delta', 98]))

In [6]:
import pandas as pd

In [13]:
df = pd.read_csv('Wheat prices 2.csv')

In [14]:
df

          Year    Value Annual % Change
0   01/01/2022  $9.6605          23.59%
1   01/01/2021  $7.0402          20.34%
2   01/01/2020  $5.4980          14.63%
3   01/01/2019  $4.9414          11.03%
4   01/01/2018  $4.9757          17.86%
..         ...      ...             ...
58  01/01/1964  $1.6820         -31.77%
59  01/01/1963  $2.0022           3.93%
60  01/01/1962  $2.0897           1.88%
61  01/01/1961  $2.0091          -0.62%
62  01/01/1960  $1.9554           2.11%

[63 rows x 3 columns]

In [15]:
exported_values = list(df.T.to_dict().values())

In [16]:
import json

In [17]:
open('my_first_json_file.json',
     'w').write(json.dumps(exported_values))

4610